@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .main__info1-img {
        max-width: 450px;
        width: 100%;
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}